<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="MfProdUrl" value="https://wl-api.mf.gov.pl" />
    <add key="MfTestUrl" value="https://wl-test.mf.gov.pl" />
  </appSettings>
</configuration>